body {
  background-color: #fff6e5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hug-avatar {
  width: 128px;
  image-rendering: pixelated;
  cursor: pointer;
}
